
<% include partials/header %>


  <h1>Welcome to the home page</h1>

  <img src="http://images.mentalfloss.com/sites/default/files/styles/article_640x430/public/catffaceheader.jpg">


<% include partials/footer %>
