<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <title>My awesome blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>

  <% include navbar %>
