
<h1>My awesome moviesearcher</h1>


<form action="/results" method="GET">
  <input type="text" placeholder="Movie title" name="searchmovie">
  <input type="text" placeholder="Released year" name="searchyear">

  <button>Search</button>
</form>
